*{
    padding: 0px;
    margin: 0px;
}

.main{
    display: flex;
    background: black;
    height: 100vh;
}

.sidebar{
    background: red;
    width: 40vh;
}

.maincontent{
    background: green;
    flex-grow: 1;
}

.musicplayer{
    background: blue;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vh;
}